*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Commissioner', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.app__header {
  padding: 1.5rem 2rem;
  background-color: #f94f4f;
}

.app__header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.app__header ul li + li {
  margin-left: 1.5rem;
}

.app__header ul a {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #EFEFEF;
  text-decoration: none;
}

.app__header ul a:hover,
.app__header ul a:focus,
.app__header ul a:active,
.app__header ul a.active {
  color: #191921;
}

.app__main {
  flex: 1;
  padding: 1.5rem 2rem;
}

.form button {
  padding: 0.5rem 1rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 2rem;
}

.form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
}