<%- include('../partials/_start.ejs') %>
</head>
<body>
  <div class="app">
    <%- include('../partials/_header.ejs') %>

    <main class="app__main">
      <h1>Shop home page</h1>
    </main>
  </div>
<%- include('../partials/_end.ejs') %>
