<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css" />

  {{#if hasFormCSS }}
    <link rel="stylesheet" href="/css/form.css" />
  {{/if}}
</head>
<body>
  <div class="app">
    <header class="app__header">
      <nav>
        <ul>
          <li><a class="{{#if isCurrentPage}}active{{/if}}" href="/">Shop</a></li>

          <li><a class="{{#if isCurrentPage}}active{{/if}}" href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main class="app__main">
      {{{ content }}}
    </main>
  </div>
</body>
</html>
