<%- include('partials/_start.ejs') %>
  <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <div class="app">
    <%- include('partials/_header.ejs') %>

    <main class="app__main">
      <h1>Add Product</h1>

      <form class="form" action="/admin/add-product" method="POST">
        <div class="form__group">
          <label for="title">Product title</label>
          <input type="text" id="title" name="title">
        </div>
    
        <button type="submit">Add</button>
      </form>
    </main>
  </div>
<%- include('partials/_end.ejs') %>
