<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
  <div class="app">
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>

          <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Add Product</h1>

      <form action="/create-user" method="POST">
        <div>
          <label for="title">Product title</label>
          <input type="text" id="title" name="title">
        </div>
    
        <button type="submit">Add</button>
      </form>
    </main>
  </div>
</body>
</html>
