<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page not found</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
  <div class="app">
    <header class="app__header">
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>

          <li><a href="/admin/add-product">Add Product</a></li>

          <li><a href="/users">Users</a></li>
        </ul>
      </nav>
    </header>

    <main class="app__main">
      <h1>😵 Page not found 😵</h1>

      <p>Sorry, the requestd path does not exit.</p>
      <p>Click <a href="/">here</a> to go back to the home page.</p>
    </main>
  </div>
</body>
</html>
