<%- include('partials/_start.ejs') %>
</head>
<body>
  <div class="app">
    <%- include('partials/_header.ejs') %>

    <main class="app__main">
      <div class="container">
        <h1>😵 Page not found 😵</h1>

        <p>Sorry, the requested path does not exit.</p>
        <p>Click <a href="/">here</a> to go back to the home page.</p>
      </div>
    </main>
  </div>
<%- include('partials/_end.ejs') %>
