<header class="app__header">
  <nav>
    <ul>
      <li><a href="/" class="<%= slug === 'home' ? 'active' : '' %>">Home</a></li>

      <li><a href="/admin/add-product" class="<%= slug === 'users' ? 'active' : '' %>">Users</a></li>
    </ul>
  </nav>
</header>
